body {
  background-color: #B6C471!important;
}

.ingredient-list {
  width: 400px;
  padding: 5px;
  font-size: 16px;
  margin: 3rem !important;
  max-height: 22rem;
  overflow-y: auto;
  margin-bottom: 0 !important;
}

/* Style the options */
.ingredient-list option {
  background-color: #f9f9f9; /* Light grey background color */
  padding: 6px 10px; /* Add padding */
  border: none; /* Remove border */
}

.ingredient-weight {
  margin: 1rem 3rem 3rem 3rem !important;
}

/* Style when an option is hovered */
.ingredient-list option:hover {
  background-color: #e9e9e9; /* Darker grey background color */
}

.food-image {
  position: absolute;
  right: 0;
  width: 50%;
}

.food-item {
  font-size: 21px;
  margin-bottom: 1.5rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
}

.food-item:nth-of-type(odd) {
  background: #F47E57;
}

.food-item:nth-of-type(even) {
  background: #F7D797;
}

.welcome {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  color: #002F15;
  margin: 0;
  font-size: 6em;
}

.select-ingredient {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #002F15;
  font-size: 2em;
}

.title {
  margin: 3rem;
}

@media only screen and (max-width: 950px) {
  .food-image {
    right: -75px;
  }
}
