{% extends 'base.html' %}

{% block title %}Home - Real Food App{% endblock %}

{% block content %}
<h1>Meal Summary</h1>
<p>Total calories of the meal: {{ total_calories }}</p>
<p>Total protein of the meal: {{ total_protein }}g</p>
<p>Total carbohydrates of the meal: {{ total_carbohydrates }}g</p>
<p>Total fats of the meal: {{ total_fats }}g</p>
<p>Protein Percentage: {{ protein_percentage }}%</p>
<p>Carbohydrates Percentage: {{ carbohydrates_percentage }}%</p>
<p>Fats Percentage: {{ fats_percentage }}%</p>
<p><a href="{{ url_for('index') }}">Go back to home</a></p>
{% endblock %}
