<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/styles.css') }}" />
    <title>User Info</title>
</head>
<body>
    <h1>Scoring time</h1>
    <form action="/score" method="post">
        <label for="gender">Gender:</label><br>
        <input type="text" id="gender" name="gender"><br>

        <label for="age">Age:</label><br>
        <input type="text" id="age" name="age"><br>

        <label for="activity_level">Activity Level:</label><br>
        <input type="text" id="activity_level" name="activity_level"><br><br>

        <input type="hidden" id="total_calories" name="total_calories" value="{{ total_calories }}">

        <input type="submit" value="Submit">
    </form>
    {% if feedback %}
        <h2>Feedback:</h2>
        <p>{{ feedback }}</p>
        <p>Total Score: {{ total_score }}</p>
    {% endif %}
</body>
</html>
